<div class="container d-flex d-flex-direction">
  <div class="header ">
    <mat-toolbar color="primary" class="toolbar d-flex">
      <div class="heading d-flex d-alignItems">
        <mat-icon fontIcon="food_bank"></mat-icon>
        <span>Culinary Corner</span>
      </div>
      <button mat-icon-button matTooltip="Add post" (click)="openFormDialog()"><mat-icon fontIcon="add"></mat-icon></button>
    </mat-toolbar>
  </div>
  <div class="main d-flex d-flex-direction">
    <div class="about d-flex d-alignItems d-flex-direction">
      <h2>About Culinary Corner</h2>
      <div class="withimg d-flex d-alignItems">
        <img src="../assets/food.webp" alt="food">
        <p>Culinary Corner is a vibrant food blog where users can explore, share, and interact with a variety of recipes. Engage with fellow food enthusiasts, post your culinary creations, and personalize your journey with options to add, edit, or delete your posts.</p>
      </div>
    </div>
    <div class="posts">
      <h2 class="recepyheading d-textalign">Culinary recipes</h2>
      <div class="postcontainer">
        <mat-grid-list cols="3" gutterSize="30px" rowHeight="250px">
          <mat-grid-tile class="tile" *ngFor="let post of currentPosts" >
            <div class="post d-flex d-flex-direction">
              <h3 class="d-textalign">{{post.heading}}</h3>
              <div class="text d-flex d-flex-direction">
                  <p class="d-textalign">{{post.text}}</p>
                  <div class="bottom d-flex d-alignItems">
                    <div class="author d-flex">
                      <small> {{post.author}}</small>
                      <small>{{post.date}} </small>
                    </div>
                    <div class="icons">
                      <button mat-icon-button class="edit"     (click)="openEditDialog(post)"><mat-icon fontIcon="edit"></mat-icon></button>
                      <button mat-icon-button class="delete" [disabled]="post.disabled"  (click)="deletePost(post)"><mat-icon fontIcon="delete"></mat-icon></button>
                    </div>
                  </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-paginator 
          class="paginator"
          [length]="posts.length"
          [pageSize]="itemsPerPage"
          [pageSizeOptions]="[3,5,10,20]"
          (page)="changePosts($event)"
        > </mat-paginator>
      </div>
    </div>
  </div>
</div>     